<ion-header>
  <ion-toolbar>
    <ion-title>{{ producto.id ? 'Editar Producto' : 'Nuevo Producto' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sección de Código de Barras -->
  <ion-item>
    <ion-label position="stacked">Código de Seguimiento</ion-label>
    <ion-button expand="full" (click)="scanBarcode()">Escanear Código de Barras</ion-button>
    <div *ngIf="producto.trackingCode">
      <p>Código de Barras: {{ producto.trackingCode }}</p>
    </div>
  </ion-item>

  <!-- Sección de Imagen -->
  <ion-item>
    <ion-label position="stacked">Imagen del producto</ion-label>
    <ion-button expand="full" (click)="captureImage()">Tomar Foto o Subir Imagen</ion-button>
    <input type="file" id="fileInput" accept="image/*" (change)="handleFileInput($event)" style="display: none;" /> 
    <!-- Mostrar imagen capturada o subida -->
    <div *ngIf="producto.image" class="image-container">
      <img [src]="producto.image" alt="Imagen del producto" />
    </div>
  </ion-item>


  <!-- Nombre del producto -->
  <ion-item>
    <ion-label position="stacked">Nombre del Producto</ion-label>
    <ion-input [(ngModel)]="producto.name"></ion-input>
  </ion-item>

  <!-- Descripción del producto -->
  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-input [(ngModel)]="producto.description"></ion-input>
  </ion-item>

  <!-- Precio del producto -->
  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input [(ngModel)]="producto.price" type="number" min="0"></ion-input>
  </ion-item>

  <!-- Categoría del producto -->
  <ion-item>
    <ion-label position="stacked">Categoría</ion-label>
    <ion-input [(ngModel)]="producto.category"></ion-input>
  </ion-item>

  <!-- Mensaje de error si hay campos vacíos o datos incorrectos -->
  <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
    {{ errorMessage }}
  </div>

  <!-- Botón de acción según si estamos agregando o editando -->
  <ion-button expand="block" color="primary" (click)="save()">
    {{ producto.id ? 'Guardar Cambios' : 'Agregar Producto' }}
  </ion-button>

  <!-- Botón eliminar solo si el producto ya existe -->
  <ion-button *ngIf="producto.id" expand="block" color="danger" (click)="delete()">Eliminar Producto</ion-button>
</ion-content>
