<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bodegas">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Bodegas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movimientos">
      <ion-icon name="swap-horizontal-outline"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
