.offline-banner {
    background-color: #3395ff;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }
  