<ion-header>
  <ion-toolbar>
    <ion-title>Editar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="producto.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Stock</ion-label>
    <ion-input [(ngModel)]="producto.stock" type="number"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
</ion-content>
