<ion-header>
  <ion-toolbar>
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Stock Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Visualiza el stock actual -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Movimientos Recientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Muestra los movimientos recientes -->
    </ion-card-content>
  </ion-card>
</ion-content>
